*{
  list-style: none;
  text-decoration: none;
}

/* navbar css */

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  /* background-color:lightgray; */
} 

.navwelcome{
  color: white;
}

.homeLink{
  color: white;
}

.aboutmeLink{
  color: white;
}

.codenationLink{
  color: white;
}

.externalLI{
  color: white;
}

.projectsLi{
  color: white;
}

.homeLink{
  list-style: none;
  padding-right: 50px;
}

.aboutmeLink{
  list-style: none;
  padding-right: 50px;
}

.codenationLink{
  list-style: none;
  padding-right: 50px;
}

.externalLI{
  list-style: none;
  padding-right: 50px;
}

.navbarUL{
  flex-direction: row;
  display: flex;
}

.projectsLi{
  list-style: none;
  /* padding-right: 50px; */
}

/* welcome page css */

.welcomContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  /* padding-top: 20%; */
  width: auto;
  min-height: 950px;
  max-height: 1300px;
  background-image: url(./img/portfolioBackground.jpeg);
  background-size: cover;
}
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

.welcomeTitle{
  font-size: 120px;
  font-weight: 900;
  color: black;
  font-family: 'Pacifico', cursive;
}

.welcome-btn{
  font-size: 90px;
  width: 700px;
  height: 5vh;
  background: scroll;
  color: black;
  font-weight: 900;
  border-radius: 20px;
  border-style: none;
  font-family: 'Pacifico', cursive;
}

/* home content css */

/* .homeTitle{
  display: flex;
  justify-content: center; 
}*/

.homeContainer{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  /* background-color: lightblue; */
  background-image: url(./img/homebackground.jpeg);
  background-size: cover;
  font-size: 30px;
  font-weight: 500;
  color: white;
}

/* home css */

.homeContainer{
  padding: 45px;
}

.lists{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.learnt{
  font-family: fantasy;
}

.projects{
  font-family: fantasy;
}

.joinContainer{
  font-family: monospace;
}

.targetsContainer{
  font-family: monospace;
}

.week1Master{
  font-family: monospace;
}

.updateContainer{
  font-family: monospace;
}

.underlineThingsList{
  text-decoration: underline;  
  text-decoration-color: lawngreen;
}

.underlineProjectsList{
  text-decoration: underline;
  text-decoration-color: lawngreen;
}

.underlineWhy{
  text-decoration: underline;
  text-decoration-color: lawngreen;
}

.underlineTargets{
  text-decoration: underline;
  text-decoration-color: lawngreen;
}

.underlineWeek{
  text-decoration: underline;
  text-decoration-color: lawngreen;
}

.underlineSix{
  text-decoration: underline;
  text-decoration-color: lawngreen;
}

.underlineStarting{
  text-decoration: underline;
  text-decoration-color: lawngreen;
}

/* about me css */

/* .masterCoding{
  padding: 15px;
} */

.aboutMeContainer{
  padding: 15px;
  font-size: 30px;
  font-weight: 500;
  font-family: monospace;
  background-image: url(./img/aboutmebackground.jpeg);
  background-size: cover;
  color: white;
  text-align: center;
}

.doingTitle{
  text-decoration: underline;
  text-decoration-color: magenta;
}

.securityTitle{
  text-decoration: underline;
  text-decoration-color: magenta;
}

.dayoffTitle{
  text-decoration: underline;
  text-decoration-color: magenta;
}

.quickBriefTitle{
  text-decoration: underline;
  text-decoration-color: magenta;
}

.hereIamTitle{
  text-decoration: underline;
  text-decoration-color: magenta;
}

/* code nation css */

.myjourneyContainer{
  padding: 15px;
  font-size: 30px;
  font-weight: 500;
  font-family: monospace;
  background-image: url(./img/codebackground.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}

h3{
  text-decoration: underline;
  text-decoration-color: rgb(243, 0, 0);
}

/* external links css */

.linksContainer{
  padding: 15px;
  font-size: 30px;
  font-weight: 500;
  font-family: monospace;
  background-image: url(./img/externalLinksbackground.jpeg);
  background-size: cover;
  color: white;
  text-align: center;
}

.githubTitle{
  text-decoration: underline;
  text-decoration-color: lawngreen;
}

.linkedInTitle{
  text-decoration: underline;
  text-decoration-color: lawngreen;
}

.codeNationTitle{
  text-decoration: underline;
  text-decoration-color: lawngreen;
}

/* Projects css */

.projectsWrapper{
  width: 2000px;
  height: 1100px;
  background-image: url(./img/projectsbackground.jpg);
  background-size: cover;
  font-size: 25px;
  padding: 50px;
}

.projectsTitle{
  color: azure;
}

.counter-btn{
  font-size: 25px;
  color: firebrick;
  font-weight: 700;
  background-color: lightgrey;
  margin-bottom: 20px;
}

.address-btn{
  font-size: 25px;
  color: magenta;
  font-weight: 700;
  background-color: lightgrey;
  margin-bottom: 20px;
}

.todo-btn{
  font-size: 25px;
  color: blue;
  font-weight: 700;
  background-color: lightgrey;
  margin-bottom: 20px;
}



/* Counter css */

.counterWrapper{
  width: 2000px;
  height: 1100px;
  background-color: blueviolet;
  font-size: 30px;
}

.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  background-color: skyblue;
  padding: 150px;
  margin-top: 150px;
  width: 500px;
  margin-left: 600px;
  /* height: 30vh; */
  /* text-align: center; */
}

.num-btn{
  font-size: 30px;
}
.num{
  padding-right: 30px;
}

.up-btn{
  font-size: 30px;
}
.up{
  padding-right: 30px;
}

.down-btn{
  font-size: 30px;
}

.counterTitle{
  text-align: center;
  color: lawngreen;
}

.counterText{
  text-align: center;
  font-size: 30px;
}

/* Address Book css */

.addressBook{
  background-color: mediumslateblue;
  width: 2000px;
  height: 1100px;
  font-size: 30px;
  padding: 30px;
}

.nameBox{
  font-size: 25px;
  margin-right: 20px;
}
.name{
  margin-right: 20px;
}

.numBox{
  font-size: 25px;
  margin-right: 20px;
}
.num{
  margin-right: 20px;
}

.addContact{
  font-size: 25px;
}

.eachPerson{
  display: flex;
  flex-direction: row;
}

.formBox{
  display: flex;
  flex-direction: row;
}

.newContact{
  font-size: 25px;
}

/* To Do List css */

.viewlistContainer{
  font-size: 30px;
  text-align: center;
  justify-content: center;
  background-color: black;
  color: azure;
  height: 1000px;
  padding: 50px;
}

.taskInput{
  font-size: 40px;
  margin-top: 50px;
}

.submit-btn{
  font-size: 35px;
}

